body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.padrao a{
    justify-content: center;
}

main{
    text-align: center;
}

h1{
    font-size: 40px;
    margin: 15px;
    color: #ffffff;
    text-shadow: 1px 1px 5px black;
}

.descricao{
    padding-top: 20px;
    font-size: 18px;
    color: #ffffff;
    text-shadow: 1px 1px 5px black;
}

.icons{
    width: 50px;
    border-color: none;
}

a{
    color: black;
    text-decoration: none;
}

a:hover,:focus{
    color: #636363;
    text-decoration: underline;
}

.card{
    box-shadow: 0px 0px 35px 20px #0000006e;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 33%;
    margin-right: 33%;
    border-radius: 15px;
}

.card-top{
    background: rgb(235, 235, 235);
    background: linear-gradient(45deg, rgb(187, 187, 187) 0%, rgba(0, 0, 0, 1) 100%);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 40px;
}

.card-bottom{
    background-color: #f0f0f0;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 40px;
}