body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.padrao a{
    justify-content: center;
}

main{
    text-align: center;
}

h1{
    font-size: 40px;
    margin: 15px;
    color: #ffffff;
    text-shadow: 1px 1px 5px black;
}

.botao-gato{
    float: right;
    display: flex;
    margin-right: 10px;
}

.icon-gato{
    width: 40px;
    color: #000000;
}

.foto-gato img{
    margin-right: 15px;
    margin-top: 10px;
    float: right;
    display: flex;
    clear: both;
    width: 15%;
    height: 15%;
    border-radius: 2%;
    box-shadow: 0px 0px 20px 10px #0000003f;
}

.botao-traduzir{
    float: right;
    display: flex;
    margin-right: 15px;
}

.icon-traduzir{
    width: 40px;
}

.descricao{
    padding-top: 20px;
    font-size: 18px;
    color: #ffffff;
    text-shadow: 1px 1px 5px black;
}

.icons{
    width: 50px;
    border-color: none;
}

a{
    color: black;
    text-decoration: none;
}

a:hover,:focus{
    color: #636363;
    text-decoration: underline;
}

.card{
    box-shadow: 0px 0px 35px 20px #0000006e;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 33%;
    margin-right: 33%;
    border-radius: 15px;
    transition: transform 0.4s ease-in-out;
}

.card-top{
    background: rgb(235, 235, 235);
    background: linear-gradient(45deg, rgb(187, 187, 187) 0%, rgba(0, 0, 0, 1) 100%);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 40px;
}

.card-bottom{
    background-color: #f0f0f0;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 40px;
}

.hidden {
    display: none !important;
}

.modal {
    width: 100%;
    height: 100%;
    background-color: rgba(8, 8, 8, 0.8);
    z-index: 1000;
    position: fixed;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
}

.modal-content {
    border: 1px solid #1d1d1d;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 20px #111111;
    padding-top: 60px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    text-align: left;
    position: relative;
}

.fechar {
    background: none;
    border: none;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.formulario {
    font-weight: bold;
    padding-bottom: 15px;
}

input,textarea {
    width: 400px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

textarea {
    height: 70px;
}

.email {
    width: 300px;
}

.enviar {
    background-color: #111111;
    color: #ffffff;
    border-radius: 5px;
    height: 35px;
    width: 80px;
    transition: transform 0.4s ease-in-out;
}

.enviar:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px #111111;
}

.enviar:focus {
    transform: scale(1.1);
}


.carrossel{
    overflow: hidden;
}

.carrossel input{
    display: none;
}

.slides{
    width: 300%;
    display: flex;
    transition: 1s;
}

.slides img{
    width: 60%;
    position: relative;
    text-align: center;
}

.navegacao{
    width: 100%;
    margin-top: 1%;
    display: flex;
    justify-content: center;
}

.navegacao .nav-botao{
    border: 1px solid #000000;
    padding: 7px;
    border-radius: 50%;
}

.navegacao .nav-botao:not(:last-child){
    margin-right: 5px;
}

.navegacao .nav-botao:hover{
    background-color: #000000;
}

#slide-1:checked ~ .primeiro{
    margin-left: 0%;
}

#slide-2:checked ~ .primeiro{
    margin-left: -100%;
}

#slide-3:checked ~ .primeiro{
    margin-left: -200%;
}

@keyframes deslizar {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes aparecer{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

.deslizar-card {
    animation: deslizar 3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.aparecer-botoes{
    animation: aparecer 3s ease-in;
}