body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navegacao ul{
    padding-left: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 50px;
}

.navegacao li {
    margin: 0 15px;
}

.navegacao a{
    color:black;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}

.padrao a{
    justify-content: center;
}

main{
    text-align: center;
}

h1{
    font-size: 40px;
    margin-top: 0px;
}

.icons{
    width: 40px;
    border-color: none;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: #636363;
    text-decoration: underline;
}
